# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
env/
ENV/

# Package distribution
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# Logs
*.log

# Flask
instance/
.webassets-cache

# Unit test / coverage
.coverage
.cache/
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Editor & IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
